* {
  margin: 0;
}

#mainContainer {
  width: 100vw;
  height: 100vh;
}

#gameContainer {
  width: 600px;
  height: 600px;
  border: 1px solid rgb(55, 57, 66);
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
  font-family: monospace;
}

.box {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13em;
}

.greenHover {
  background-color: rgba(45, 200, 45, 0.7);
}

.redHover {
  background-color: rgba(235, 55, 55, 0.7);
}

.filledGreen {
  background-color: rgba(89, 196, 89, 0.5);
  color: green;
}

.filledRed {
  background-color: rgba(230, 82, 82, 0.5);
  color: red;
}

.greenWinner {
  background-color: rgba(50, 240, 50, 0.6);
  color: white;
}

.redWinner {
  background-color: rgba(240, 50, 50, 0.6);
  color: white;
}

#winner {
  display: none;
  width: fit-content;
  height: fit-content;
  justify-content: center;
  align-items: center;
  font-size: 14em;
  position: absolute;
  left: calc(50vw - 351px);
  top: calc(50vh - 165px);
  border-radius: 20px;
}
